<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
            .container {
                display: flex;
            }

            .label-column {
                width: 100px;
                text-align: right;
                padding-right: 10px;
            }

            .details-column {
                flex-grow: 1;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <h1>Página de Facturación</h1>
            <div class="row">
                <div class="col">
                    <p><strong>Producto:</strong></p>
                    <p><strong>Precio:</strong></p>
                    <p><strong>Cantidad:</strong></p>
                    <p><strong>IVA:</strong></p>
                    <p><strong>Total:</strong></p>
                </div>
                <div class="col">
                    <p>Producto 1</p>
                    <p>$10.00</p>
                    <p>2</p>
                    <p>$2.00</p>
                    <p>$22.00</p>
                </div>
            </div>
        </div>
    </body>
</html>
