<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Detalles del Producto</title>
</head>
<body>
    <h1>Detalles del Producto</h1>
    <p>Nombre: <span th:text="${herramienta.nombre}"></span></p>
    <p>Descripción: <span th:text="${herramienta.descripcion}"></span></p>
    <p>Precio: <span th:text="${herramienta.precio}"></span></p>
    <p>Unidades: <span th:text="${herramienta.unidades}"></span></p>
</body>
</html>

